/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #009fff;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}


/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
  opacity: 100%;
}

.sidebar.close:hover {
    width: 88px;
    opacity: 100%;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 100%;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 60px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}



.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
  animation-duration: 5s;
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}


.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 320px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
  background-color: #fff;
}

.sidebar.close ~ .home {
  left: 88px; /* Adjust the left position of the home content when the sidebar is closed */
  width: calc(
    100% - 88px
  ); /* Adjust the width of the home content when the sidebar is closed */
}

table {
  display: flex;
  float: right;
  font-size: large;
}
.dropdown-content {
  display: none;
  right: 110px;
  top: 80px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: medium;
  border-radius: 10px;
  border-top: 3px solid #4979ff;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #4979ff;
  color: #fff;
  border-radius: 5px;
}

.dropdown {
  cursor: pointer;
}

.dropdown-content.show {
  display: block;
}

/* Change hover background color of the last link to red */
.dropdown-content a:last-child:hover {
  background-color: rgb(255, 37, 37);
  color: #fff; /* Ensure text color is white for better contrast */
}
.profile-picture {
  width: 50px; /* Set the width and height to the same value to make it circular */
  height: 50px;
  border-radius: 50%; /* This makes the div circular */
  overflow: hidden; /* This ensures the image doesn't overflow the circular div */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.profile-picture img {
  width: 100%; /* Make the image fill the div */
  height: auto; /* Maintain the aspect ratio of the image */
}

.widgets {
  margin-top: 20px;
  margin-left: 27px;
  display: flex;
}

.box {
  background-color: #fff;
  width: 270px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 30px; /* Adjust as needed */
}

.calender{
    width: 1169px;
    margin-left: 27px;
    margin-top: 10px;
    background-color: ghostwhite;
    padding: 15px;
    border-radius: 1%;

}

.box1{
    border-bottom: 5px solid rgb(0, 247, 144);
}
.box2{
    border-bottom: 5px solid rgb(0, 140, 255);
    
}
.box3{
    border-bottom: 5px solid rgb(255, 17, 0);
     
}
.box4{
    border-bottom: 5px solid rgb(174, 0, 255);
     
}


.ico{
    padding: 15px;  
    width: auto;
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgba(0, 255, 149, 0.315);
    border-radius: 10px;
    display: flex;
    float: left;
    
}

.divheader1{
    background-color: rgba(0, 255, 149, 0.315);
    color: darkgreen;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.span1{
    margin-top: 30px;
    font-weight: bold;
    opacity: 60%;
    color: darkgreen;
    display: flex;
    margin-left: 80px;
}